body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --white-color: #fff;
    --gray-color: #ccc;
}

/* Utility */
.text-grey {
    color: var(--gray-color);
}

.fs-xs {
    font-size: 0.7em;
}

.fs-12 {
    font-size: 0.9em;
}

.fw-regular {
    font-weight: 400 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-extrabold {
    font-weight: 800 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/* End Utility */
.nav-item,
.nav-link {
    color: var(--white-color);
    font-size: 12px;
}

.nav-item .nav-link:hover {
    color: var(--gray-color);
}

.hero {
    color: var(--white-color);
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/image/hero-bg-2.jpeg');
    ;
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 84px;
}

#skills i {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--gray-color);
    box-shadow: rgba(255, 255, 255, 0.4) 2px 3px 4px;
}

#skills .card {
    background-color: #00000f;
    color: var(--white-color);
    border: 1px solid var(--gray-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

#skills .card:hover {
    margin-top: -8px;
    transition: .2s;
}

#portfolio,
#contact {
    height: 100%;
    background-color: #2e2e2e;
}

#portfolio img {
    width: 20px;
    height: 20px;
}

#portfolio .card,
#contact .card {
    background: linear-gradient(145deg, rgba(46, 46, 46, 1) 0%, rgba(11, 11, 11, 1) 100%);
    color: var(--white-color);
    border: 0.1px solid #3b3b3b;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    cursor: pointer;
}

#about .img,
#about img,
.hire-text h2 {
    position: relative;
}

.bg-opacity {
    background-color: rgba(59, 5, 255, 0.5);
    /* background: rgba(255, 255, 255, 0.3); */
}

#about .img::before {
    content: "";
    left: 50%;
    width: 4px;
    position: absolute;
    height: calc(100% + 160px);
    background: #3b3b3b;
}

.img-about {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#contact .card {
    min-height: 350px;
}

#contact h5 {
    margin-top: 64px;
}

#contact i {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #3b3b3b;
}

#contact i::after {
    content: "";
    top: 100%;
    width: 1px;
    position: absolute;
    height: 100px;
    background: #3b3b3b;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

/* Tablet X */
@media (max-width: 992px) {
    .img-about {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }
}


/* Tablet */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 64px;
    }

    .img-about {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .hero h1 {
        font-size: 56px;
    }
}